{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <header class="container-fluid">

        <div class="row">
            <h2 class="text-center ">
                <span class="colorLight" >Go</span>
                <span class="colorGreen">Green</span>
                <span class="colorLight">and</span>
                <span class="colorLight">Share</span>
                <span class="colorLight">the</span>
                <span class="colorGreen">Ride</span>

            </h2>

            <div class="col-6 ">

            </div>
            <div class="col-6 ">

            </div>
        </div>

    </header>

    <main class="main">
        <h2>Main</h2>
    </main>

    <footer class="footer">
        <h2>Footer</h2>
    </footer>
{% endblock %}
